
  <!-- Resume? start -->
  <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="img/주민증.jpg" class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Name: </span> <span>Hyun Woo Jung</span></p>
                      <p><span class="title-s">Profile: </span> <span>Student</span></p>
                      <p><span class="title-s">Email: </span> <span>chopin_liszt@naver.com</span></p>
                      <!-- <p><span class="title-s">Phone: </span> <span>(617) 557-0089</span></p> -->
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">Skill</p>
                  <span>Python</span> <span class="pull-right">95%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Express</span> <span class="pull-right">75%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>HTML, CSS</span> <span class="pull-right">50%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>MySQL, MongoDB</span> <span class="pull-right">80%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About this project
                    </h5>
                  </div>
                  <p class="lead">
                    자랑스러운 대한의 건아, 정현우를 소개합니다.
                    이거 참 재밌구만. 이 앱은 저의 첫 앱으로써 "Quote reminder"라 명명하겠습니다.
                  </p>
                  <p class="lead">
                    이 앱에 대해서 설명을 해드리자면 첫 번째 Express 앱으로 MongoDB, Express를 사용해서 만들었습니다
                  </p>
                  <p class="lead">
                    Hi, my name is Hyunwoo Jung, an undergraduate student from Yonsei Univ.
                  </p>
                  <p class="lead">
                    This "Quote reminder" is my first express app.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- Resume end -->