<%- include('../includes/head.ejs') %>
  </head>

  <%- include('../includes/index-navigation.ejs') %>
  
  <body id="page-top">

  <!--/ Intro Skew Start /-->
  <div id="home" class="intro route bg-image" style="background-image: url(img/reading-book.jpg)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <a class="intro-title mb-4" href="/quotes-list">Today's quotes</a>
          <h3>5 quotes everyday</h3>
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->
  
<%- include('../includes/resume.ejs') %>
<%- include('../includes/end.ejs') %>